*__pycache__*
*DS_Store*
/ugle.egg-info/
/ugle/__pycache__
/.idea
/data/*
!/data/download_links.yaml
!/data/pokemon_names.npy
.env
results/*
figures/*
*_seed_*
*_hpo_*
.gitattributes
tests/logs/*
default_results/*
dataset_stats/*
working_bench.py
logs/*
new_default/*
updated_results/*
synth_results/*
revamp_train_percent/*
temp.py
found_hps/*